{% extends 'layout/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="card ">
  <div class="card-body">
      <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="" class="form-label">Username</label>
            <input type="text"
              class="form-control" name="username" id="Username" aria-describedby="helpId" placeholder="Username">
          </div>
          <br>
          {% bootstrap_button "Submit" type="submit" %}
      </form>
  </div>
</div>
{% endblock content %}


{% block css %}
    <style>
      .card{
        height: 22vh;
        margin-left: 25%;
        width: 35%;;
      }
    </style>
{% endblock css %}
    

{% block js %}
    
{% endblock js %}
    
