{% extends 'layout/base.html' %}

{% load django_bootstrap5 %}
{% load static %}
<body>

  {% block content %}

  
   <div class="container">
    <div class="row">
      <h1 class="store">Store</h1>
      <div class="col-md-12" id="colmn">
        {% for item in data %}
          <div class="card" style="width: 18rem;" id="cd">
          <a href="#" class="clean-link">
            <img src="{{item.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.short_description}}</p>
              <p class="card-text rupees">{{item.final_value}}</p>
              <p class="card-text rupees"><s>{{item.value}}</s></p>
              <button id="add-to-cart" data-product-id="{{product.id}}"><a href="{% url 'cart' %}">Add to cart</a></button>
              <button><a href="{% url 'cart' %}">Buy now</a></button>
              </div>
          </a> 
          </div>
          {% endfor %}
          </div>
            </div>
    </div> 
  
  {% endblock content %}
  {% block css %}
    <style>
  
      #colmn{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin: 10px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
      #colmn:hover a{
        color: #000000;
      }
      #cd{
        margin-top: 10px;
      }
.card h5{
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}
.card p{
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}
.card a{
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}
.store{
  text-align: center;
  margin-top: 3%;
  text-decoration: underline;
  font-style: italic;
}

.card-text.rupees::before {
  content: "\20B9"; /* Indian Rupee symbol */
  display: inline-block;  
}

    </style>
  {% endblock css %}
    
{% bootstrap_javascript %}

{% block js %}
<script>
  const addToCartBtn = document.querySelector('#add-to-cart');

addToCartBtn.addEventListener('click', () => {
  const productId = addToCartBtn.dataset.productId;
  
  fetch(`/cart/add/${productId}/`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': '{{ csrf_token }}'
    }
  })
  .then(response => response.json())
  .then(data => {
    document.querySelector('#cart-count').textContent = data.cart_count;
  })
  .catch(error => {
    // Handle error
  });
});
</script>
{% endblock %}




</body>
</html>



